body {
    font-family: Arial, sans-serif;
}

div{
    border: 3px solid #1E90FF;
}

img{
    width: 10%;
    float: left;
    display: block;
    margin-left: 5mm;
    margin-right: 2mm;
    margin-top: 2mm;
    margin-bottom: 2mm;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 13%;
    font-size: 40px;
    margin-top: 5mm;
}
.navbar a:hover {
    text-decoration: overline;
}

.noticias{
    color: red;
}
.esportes{
    color: green;
}
.entreterimento{
    color: yellow;
}
.videos{
    color: #1E90FF;
}
